*******************
****** Reset ******
*******************

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // defines what 1 rem is
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  font-family: 'Cutive Mono', monospace;
  font-size: $default-font-size;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  color: $white;
  background-color: $primary-color;

    &__list {
      display: flex;
    }
}

.hero {
  height: 80vh;
  background-image: 
                    linear-gradient(to right bottom, rgba($primary-color, 0.7), rgba($primary-color-light, 0.7)),
                    url(../hero.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

    &__headline {
      font-size: 4.5rem;
      color: $white;
      max-width: 70%;
      text-align: center;
    }
}