*******************
****** Reset ******
*******************

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // defines what 1 rem is
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-white;
  background-color: $primary-color;

    &__title {
      margin-left: 1.5rem;
      font-size: 3.5rem;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      list-style: none;
      font-weight: 300;
    }

    &__item {
      margin-right: 1.5rem;
    }
}

.hero {
  height: 80vh;
  background-image: 
                    linear-gradient(to right bottom, rgba($primary-color, 0.8), rgba($primary-color-light, 0.8)),
                    url(../hero.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

    &__headline {
      font-size: 5.5rem;
      font-weight: 300;
      color: $color-white;
      max-width: 70%;
      text-align: center;
    }
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  

  &__headline {
    font-size: 3.5rem;
    color: $primary-color-dark;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin-right: 4rem;
    margin-left: 4rem;
  }

  &__item {
    width: 80%;
    box-shadow: 0 0 1rem $color-grey-dark-2;
    border-radius: 5px;
    overflow: hidden;
    max-width: 35rem;
    
    &:not(:last-child) {
      margin-right: 4rem;
    }

    
  }

  &__date {
    display: inline-block;
    margin-top: 1rem;
    margin-left: 2rem;
  }

  &__title-box {
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  &__title {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 300;
    color: $color-white;
    margin-top: 0;
    margin-bottom: 0;
    
  }

  &__link {
    
  }

  &__content {
    display: block;
    margin: 1rem 2rem;
    font-size: 1.7rem;
  }
}